$title-stack: "Suisse Int'l Regular", Graphik, Favorit, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-stack: "Lab Mono", Graphik, "Helvetica Neue", Helvetica, Arial, sans-serif;
$code-stack: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

$body-colour: #000;
$link-colour: #000;
$link-active: #000;