// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

.main-nav {
  padding: 20px;
}

.main-nav a {
  padding-left: 20px;
}

.main-nav a:first-child {
  padding-left: 0px;
}

.top {
  position: fixed;
  top: 10px;
  right: 20px;
}

.bottom {
  position: fixed;
  bottom: 10px;
  left: 20px;
}